/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

/* The common style rules. */

body {
  margin: 0;
  line-height: 1.6;
  text-align: center;
  padding: 15px;
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #555555;
}

header {
  margin-bottom: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 5px;
}

nav {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #007bff;
}

nav ul {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  position: relative;
  margin: 0 5px;
}

nav ul li a {
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffffff;
  color: #007bff;
  box-shadow: 0 2px 10px #0000001a;
}

.job-title {
  margin-top: 5px;
  margin-bottom: 17px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: #007bff;
}

h2 {
  color: #007bff;
  margin-top: 21px;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
}

h3 {
  margin-top: 15px;
  color: #555555;
}

p,
ul {
  margin: 10px 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.contact-info {
  margin-bottom: 20px;
}

#cover-letter,
#recommendation {
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 2px 10px #0000001a;
}

#cover-letter h2 {
  margin-top: 0;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
}

#cover-letter p {
  margin: 10px 0;
  text-align: left;
  color: #555555;
}

#experience,
#education,
#skills,
#certifications,
#languages,
#professional-summary {
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 2px 10px #0000001a;
}

.experience ul,
.skills ul,
.certifications ul,
.languages ul {
  list-style-type: none;
  padding: 0;
}

.experience li,
.skills li,
.certifications li,
.languages li {
  margin: 5px 0;
  padding-left: 1em;
  text-indent: -1em;
}

.summary li:before,
.experience li:before,
.skills li:before,
.certifications li:before,
.languages li:before {
  content: "•";
  color: #007bff;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 25px 0;
}

.timeline-item {
  position: relative;
  padding: 25px;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px #0000001a;
}

.timeline-item h3 {
  margin: 0;
  color: #007bff;
}

.timeline-item p {
  margin: 5px 0;
  text-align: left;
  color: #555555;
}

.timeline-details {
  margin-top: 8px;
  padding: 8px;
  border-left: 3px solid #007bff;
}

.timeline-details ul {
  text-align: left;
  padding-left: 20px;
}

.timeline-item li:before {
  content: "•";
  position: absolute;
  left: 41px;
  font-size: 1.2em;
  color: #007bff;
}
