/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  nav ul li a {
    font-size: 0.9em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  header,
  #timeline-item,
  #experience,
  .education,
  .skills,
  .certifications,
  .languages,
  .professional-summary,
  .timeline-item,
  p {
    display: block;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .pageBreak {
    page-break-before: always;
  }

  nav ul li a {
    color: #007bff;
  }
}
