/* COMMON */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.card-title {
  color: black;
}

.card-text {
  color: rgb(85, 85, 85);
}

.card-text>span {
  color: rgb(85, 85, 85);
}

#education-text {
  padding-top: 0.5em;
}

.card-text>.nowrap {
  color: rgb(85, 85, 85);
}

.nowrap {
  white-space: nowrap;
}

p {
  color: black;
}

.about-me-text {
  padding: 1.5rem;
  flex: 1;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.about-me-text p {
  padding: 0.5rem;
}

strong {
  color: #2f2f2f;
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.image-round {}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10.5rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
section#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 83vh;
  padding-bottom: 20vh;
}

.section__text {
  align-self: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 5rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
}

.section__text p {
  font-weight: 600;
  color: black;
}

.section__text__p1 {
  text-align: center;
  color: white;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: black;
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: white;
  padding: 0.5rem 0;
}

.title-card {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #0070ba;
  padding: 0.5rem 0;
}

h3 {
  color: black;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(207, 207, 207) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: rgb(53, 53, 53);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */
#about {
  position: relative;
  height: fit-content;
  padding-top: 2.5vh;
  margin-bottom: 10vh;
  align-items: center;
}

#about>.section-container {
  width: 50vw;
  padding: 0 calc(25vw - 10rem);
}

.title.about-me {
  padding-bottom: 2.5vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  padding-top: 2.5rem;
}

.about-containers,
.about-details-container {
  display: flex;
}

.arrow {
  width: 5vw;
  height: auto;
  position: absolute;
  right: -5rem;
  bottom: 3.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  align-self: center;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.skills.about-containers>.details-container {
  min-width: 30vw;
  min-height: fit-content;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* SKILLS SECTION */
#skills {
  position: relative;
  height: fit-content;
  margin-bottom: 10vh;
}

.skills-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.skills.about-containers {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-content: center;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
#projects {
  position: relative;
  height: fit-content;
}

#projects>.projects-details-container {
  margin-top: 10vh;
}

#projects>.projects-details-container>.about-containers {
  flex-wrap: wrap;
  justify-content: center;
}

#projects>.projects-details-container>.about-containers>.details-container {
  flex-basis: calc(32vw - 14rem);
  flex-grow: 0;
  flex-shrink: 0;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.skills-sub-title.project-title {
  font-size: 1.5rem;
}

.project-btn {
  color: white;
  border-color: rgb(163, 163, 163);
}

#projects>.arrow {
  bottom: 8rem;
}

/* CONTACT */
#contact {
  position: relative;
  width: 32vw;
  height: 300px;
  margin: 25vh 0 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  align-self: center;
  color: black;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  color: black;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  color: black;
}

.contact-info-container p {
  font-size: larger;
  color: black;
}

.contact-info-container p a {
  font-size: larger;
  color: black;
  text-decoration: none;
}

.contact-info-container p a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 1rem 1rem;
  text-align: center;
}

footer p {
  text-align: center;
  color: white;
}

#footerContainer {
  text-align: center;
  padding: 0 0 2.7vh;
}

/* noscript */
noscript #enable-javascript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 10vh 5vw 1vh;
  padding: 0 20vw 5vh;
  background-color: #f2f2f2;
  border-radius: 10px;
}

noscript h1 {
  display: none;
}

noscript main {
  display: none;
}

noscript h2 {
  padding: 5vh 0;
  color: #2f2f2f;
}

noscript p {
  min-width: 50vw;
  margin: 1vh 0;
  color: #2f2f2f;
}

noscript details {
  min-width: 50vw;
  margin: 1vh 0;
  text-align: inherit;
}

noscript details summary {
  cursor: pointer;
  color: #2f2f2f;
}

noscript li {
  line-height: 1.5em;
  margin: 2vh 0;
  color: #2f2f2f;
}

noscript strong {
  color: #2f2f2f;
}

noscript code {
  font-size: 16px;
  color: #2f2f2f;
}
