/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

/* The common style rules. */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0; /* Set the thickness for the margin area of the element. */
  padding: 0; /* Set the padding of the element. */
  color: #ffffff; /* Set the color for the text of the element. */
}

body {
  margin: 0; /* Set the thickness for the margin area of the element. */
  padding: 0; /* Set the padding of the element. */
  font-family: "Poppins", sans-serif;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
}

html {
  margin: 0; /* Set the thickness for the margin area of the element. */
  padding: 0; /* Set the padding of the element. */
  height: 100%;
  scroll-behavior: smooth;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.card-title {
  color: #000000; /* Set the color for the text of the element. */
}

div img {
  color: #000000; /* Set the color for the text of the element. */
}

.card-text {
  color: #555555; /* Set the color for the text of the element. */
}

.card-text > span {
  color: #555555; /* Set the color for the text of the element. */
}

.experiences-text {
  padding-top: 0.5em;
}

.education-text {
  padding-top: 1em;
}

.card-text > .nowrap {
  color: #555555; /* Set the color for the text of the element. */
}

.nowrap {
  white-space: nowrap;
}

to-top > a {
  position: fixed; /* Specify the positioning method for the element. */
  bottom: 56px;
  right: 56px;
  z-index: 1;
  opacity: 0;
  font-size: 16px;
  text-decoration: none;
  pointer-events: none;
  transition: 0.25s;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  align-items: center;
  justify-content: center;
}

to-top > a.active {
  bottom: 56px;
  pointer-events: auto;
  opacity: 1;
}

p {
  color: #000000; /* Set the color for the text of the element. */
}

.about-me-text {
  padding: 1.5rem; /* Set the padding of the element. */
  flex: 1;
  background-color: #ffffff;
  color: #000000; /* Set the color for the text of the element. */
  border-radius: 10px;
}

.about-me-text p {
  padding: 0.5rem; /* Set the padding of the element. */
}

strong {
  color: #2f2f2f; /* Set the color for the text of the element. */
}

/*----- The Transition -----*/

a,
.button {
  transition: all 300ms ease;
}

/*----- The Desktop Navigation -----*/

nav,
.nav-links {
  /*animation: brighten 0.5s;*/
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links a,
.contact-info-container a {
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none !important;
}

.nav-links a::before,
.contact-info-container a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background: linear-gradient(to right, #1ab1ff, #1177ff);
  transition: width 0.27s ease, left 0.27s ease;
}

.nav-links a:hover::before,
.contact-info-container a:hover::before {
  width: 100%;
  left: 0;
}

a {
  color: #ffffff; /* Set the color for the text of the element. */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/*----- The Menu -----*/

.hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative; /* Specify the positioning method for the element. */
  display: inline-block;
}

.hamburger-badge {
  width: 30px;
  height: 24px;
  cursor: pointer;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-badge span {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute; /* Specify the positioning method for the element. */
  top: 100%;
  right: 0;
  background-color: #ffffff;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px; /* Set the padding of the element. */
  text-align: center;
  font-size: 1.5rem;
  color: #000000; /* Set the color for the text of the element. */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  border: 1px solid #aaaaaa;
}

.hamburger-badge.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-badge.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-badge.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-badge span:first-child {
  transform: none;
}

.hamburger-badge span:first-child {
  opacity: 1;
}

.hamburger-badge span:first-child {
  transform: none;
}

/*----- The Sections -----*/

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10.5rem; /* Set the thickness for the margin area of the element. */
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
}

/*----- The Profile Section -----*/

section.profile {
  gap: 5rem;
  height: 83vh;
  padding-bottom: 20vh;
  /*animation: brighten 0.5s;*/
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  justify-content: center;
  align-items: center;
}

.section__text {
  align-self: center;
  text-align: center;
  background-color: #ffffff;
  /*background-color: #ffffee;*/
  color: #000000; /* Set the color for the text of the element. */
  padding: 3.5rem 5rem; /* Set the padding of the element. */
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: #aaaaaa;
  /*transition: 0.5s ease-in-out;*/
}

/*.section__text:hover {
  filter:brightness(1.1);
}*/

.section__text p {
  font-weight: 600;
  color: #000000; /* Set the color for the text of the element. */
}

.section__text__p1 {
  font-size: 3.5vh;
  text-align: center;
  color: #ffffff; /* Set the color for the text of the element. */
}

.section__text__p2 {
  font-size: 3.5vh;
  margin-bottom: 1rem;
  color: #000000; /* Set the color for the text of the element. */
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #ffffff; /* Set the color for the text of the element. */
  padding: 0.5rem 0; /* Set the padding of the element. */
}

.title-card {
  font-size: 4.5rem;
  line-height: 5rem;
  text-align: center;
  color: #0070ba; /* Set the color for the text of the element. */
  padding: 0.5rem 0; /* Set the padding of the element. */
  background: linear-gradient(to right, #1ab1ff, #1177ff);
  /*background: linear-gradient(90deg, #0162df, #50b0f0);
  background: linear-gradient(to right, #0162df, #1ab1ff);*/
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: brighten 1s;
}

@keyframes brighten {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div:has(h4) {
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3,
h4 {
  color: #000000; /* Set the color for the text of the element. */
}

h4 {
  font-size: 1.5rem;
}

.socials-container {
  margin-top: 1rem;
  gap: 1rem;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  justify-content: center;
}

/*----- The Badges -----*/

.badge {
  height: 2rem;
}

.badge-button {
  cursor: pointer;
  height: 2rem;
  transition: transform 0.27s ease-in-out;
}

.badge-button.linkedin-badge {
  content: url(../assets/linkedin.svg);
}

.badge-button.linkedin-badge:hover {
  content: url(../assets/linkedin-blue.svg);
  transform: scale(1.1);
}

.github-badge {
  content: url(../assets/github.svg);
}

.github-badge:hover {
  content: url(../assets/github-blue.svg);
  transform: scale(1.1);
}

/*----- The Buttons -----*/

.button-container {
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  justify-content: center;
  gap: 1rem;
}

.button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem; /* Set the padding of the element. */
  width: 8rem;
  border-radius: 2rem;
}

.button-color-1,
.button-color-2 {
  background: #353535;
  border: #cdcdcd 0.1rem solid;
  color: #ffffff; /* Set the color for the text of the element. */
  transition: none;
}

.button-color-1:hover,
.button-color-2:hover {
  cursor: pointer;
  background: linear-gradient(to right, #1ab1ff, #1177ff);
}

.button-container {
  gap: 1rem;
}

/*----- The About Section -----*/

.about {
  position: relative; /* Specify the positioning method for the element. */
  height: fit-content;
  padding-top: 2.5vh;
  margin-bottom: 10vh;
  align-items: center;
}

.about > .section-container {
  width: 50vw;
  padding: 0 calc(25vw - 10rem); /* Set the padding of the element. */
}

.title.about-me {
  padding-bottom: 2.5vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  padding-top: 2.5rem;
}

.about-containers,
.about-details-container {
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
}

.arrow,
.arrow-up {
  width: 5vw;
  height: auto;
  position: absolute; /* Specify the positioning method for the element. */
}

.arrow {
  right: -5rem;
  bottom: 3.5rem;
}

.details-container {
  padding: 1.5rem; /* Set the padding of the element. */
  flex: 1;
  align-self: auto;
  background-color: #ffffff;
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: #aaaaaa;
  text-align: center;
}

.skills.about-containers > .details-container {
  min-width: 30vw;
  min-height: fit-content;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0; /* Set the thickness for the margin area of the element. */
}

/* The Skills Section. */

.skills {
  position: relative; /* Specify the positioning method for the element. */
  height: fit-content;
  margin-bottom: 10vh;
}

.skills-sub-title {
  color: #555555; /* Set the color for the text of the element. */
  font-weight: 600;
  font-size: 1.75rem;
  margin: calc(2rem - 24px) auto 2rem;
}

.skills-details-container {
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.skills.about-containers {
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.article-container {
  text-align: initial;
  gap: 2rem;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

article {
  width: 10rem;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
}

article .badge {
  cursor: default;
}

/* The Projects Section. */

.projects {
  position: relative; /* Specify the positioning method for the element. */
  height: fit-content;
}

.projects-external-container {
  margin-top: 10vh;
}

.projects-internal-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.projects-internal-container > .details-container {
  flex-basis: calc(32vw - 14rem);
  flex-grow: 0;
  flex-shrink: 0;
}

.color-container {
  background: #f7f7f7;
  border-color: #a5a5a5;
}

.project-image-container {
  text-align: initial;
  gap: 2rem;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.project-image {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  font-size: 1.5rem;
  margin: 1rem; /* Set the thickness for the margin area of the element. */
  color: #000000; /* Set the color for the text of the element. */
}

[class^="skill-badge-"] {
  color: #373737;
}

.project-button {
  color: #ffffff; /* Set the color for the text of the element. */
  border-color: #a5a5a5;
}

.projects > .arrow {
  bottom: 8rem;
}

/* The Contact Section. */
.contact {
  position: relative; /* Specify the positioning method for the element. */
  width: 35vw;
  height: fit-content;
  margin: 25vh 0 10vh; /* Set the thickness for the margin area of the element. */
  background: #ffffff;
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: #aaaaaa;
  text-align: center;
  align-self: center;
  color: #000000; /* Set the color for the text of the element. */
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  justify-content: center;
  flex-direction: column;
}

.contact .section__text__p2 {
  margin: 0; /* Set the thickness for the margin area of the element. */
}

.contact > h1.title-card {
  padding: 0 0 2.5vh; /* Set the padding of the element. */
}

.contact-info-upper-container {
  margin: 1.5rem auto 2rem;
  padding: 1rem; /* Set the padding of the element. */
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: #aaaaaa;
  background: #ffffff;
  color: #000000; /* Set the color for the text of the element. */
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.contact-info-container {
  margin: 1rem; /* Set the thickness for the margin area of the element. */
  color: #000000; /* Set the color for the text of the element. */
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact-info-container p {
  display: inline;
  font-size: larger;
  color: #000000; /* Set the color for the text of the element. */
}

.contact-info-container a {
  font-size: larger;
  color: #000000; /* Set the color for the text of the element. */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contact-badge {
  transition: all 0.27s ease-in-out;
}

.email-badge {
  width: auto;
  height: 32px;
}

.scroll-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scroll-animation.visible {
  opacity: 1;
}

/*----- The Footer Section -----*/

footer {
  height: 26vh;
  margin: 0 1rem 1rem; /* Set the thickness for the margin area of the element. */
  text-align: center;
}

footer p {
  text-align: center;
  color: #ffffff; /* Set the color for the text of the element. */
}

.footerContainer {
  text-align: center;
  padding: 0 0 2.7vh; /* Set the padding of the element. */
}

/* noscript. */
noscript .enable-javascript {
  height: fit-content;
  margin: 10vh 5vw 1vh; /* Set the thickness for the margin area of the element. */
  padding: 0 20vw 5vh; /* Set the padding of the element. */
  background-color: #f2f2f2;
  border-radius: 10px;
  /* Use flexbox to align the content inside the element. */
  display: -webkit-box; /* For earlier versions of Chrome and Safari (pre-flexbox). */
  display: -ms-flexbox; /* For Internet Explorer 10 (supports an earlier flexbox model). */
  display: flex; /* Standard syntax for modern browsers (widely supported). */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

noscript h1 {
  display: none;
}

noscript main {
  display: none;
}

noscript h2 {
  padding: 5vh 0; /* Set the padding of the element. */
  color: #2f2f2f; /* Set the color for the text of the element. */
}

noscript p {
  min-width: 50vw;
  margin: 1vh 0; /* Set the thickness for the margin area of the element. */
  color: #2f2f2f; /* Set the color for the text of the element. */
}

noscript details {
  min-width: 50vw;
  margin: 1vh 0; /* Set the thickness for the margin area of the element. */
  text-align: inherit;
}

noscript details summary {
  cursor: pointer;
  color: #2f2f2f; /* Set the color for the text of the element. */
}

noscript li {
  line-height: 1.5em;
  margin: 2vh 0; /* Set the thickness for the margin area of the element. */
  color: #2f2f2f; /* Set the color for the text of the element. */
}

noscript strong {
  color: #2f2f2f; /* Set the color for the text of the element. */
}

noscript code {
  font-size: 16px;
  color: #2f2f2f; /* Set the color for the text of the element. */
}

::-webkit-scrollbar {
  width: 12px; /* Set the width of the element. */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#1ab1ff, #1177ff);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #007fff;
}
